<h1>Products</h1>

<div class="container">
  <div class="row">
    <% @products.each do |product| %>
    <div class="col-sm-2 col-md-12 product_grid_box">
    <h1><%= product.name %></h1>
      <p>Description: <%= product.description %></p>
      <%= image_tag(product.image_url, class: "img-responsive") %>
      <p> Color: <%= product.color %></p>
      <p>KES:<strong><%= product.price %></strong></p>
      <p><strong><%= link_to 'Show', product %> |
        <%= link_to 'Edit', edit_product_path(product) %> |
        <%= link_to 'Delete', product, method: :delete, data: { confirm: 'This item will completely be deleted are you sure?' } %></strong></p>
      <% end %>
    </div><!-- /col -->
    
</div>

<br>

<%= link_to 'New Product', new_product_path %>
